* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header, main, footer {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.c-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
}

.menu-list .menu-item {
  margin-left: 40px;
}

.menu-list .menu-item .menu-link {
  font-size: 0.9rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.1em;
  color: #071330;
}

.btn-header {
  font-family: "Roboto", serif;
  font-weight: 400;
  padding: 11px 20px;
  color: #FFFFFF;
  background: #3D55F9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.btn-header:hover {
  background: #2740e0;
}

.btn-header:active {
  background: #1c33ca;
}

.finally {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.finally .women {
  position: absolute;
  right: 65px;
  z-index: 1;
}

.answers {
  padding-top: 130px;
  width: 500px;
}

.answers h2 {
  font-size: 2.7em;
  line-height: 50px;
  font-family: "Roboto", serif;
  font-weight: 400;
  color: #071330;
}

.answers p {
  padding: 80px 0 24px;
  font-size: 1.125em;
  line-height: 32px;
  font-family: "Roboto", serif;
  font-weight: 400;
  width: 450px;
  color: #071330;
}

.act {
  position: relative;
  z-index: 2;
  height: 80px;
}

.act input {
  padding: 31px 300px 31px 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
          box-shadow: 0px 8px 24px rgba(7, 19, 48, 0.06);
  border-radius: 20px;
}

.act input::-webkit-input-placeholder {
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #071330;
}

.act input:-ms-input-placeholder {
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #071330;
}

.act input::-ms-input-placeholder {
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #071330;
}

.act input::placeholder {
  font-family: "Roboto", serif;
  font-weight: 700;
  color: #071330;
}

.act .btn-act {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 19px 30px 17px;
  background: #3D55F9;
  border: none;
  border-radius: 12px;
  font-family: "Roboto", serif;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.act .btn-act:hover {
  background: #2740e0;
}

.act .btn-act:active {
  background: #1c33ca;
}
